body {
  margin: 0;
  padding: 0;
  background-color: rgb(219, 243, 250);
  height: 100vh;
  font-family: 'Segoe UI', Tahoma,  sans-serif;

  display: flex;
  justify-content: center;
}
.container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 40rem;
}

.card{
  border-radius: 7px;
  box-shadow: 3px 3px 20px #7a7a7a;
  background-color: white;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
}

button{
  border: 2px solid red;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  align-self: center;
  
  background-color: white;
  color: red;
  
  font-family: inherit;
  font-size: 13pt;
}
h1{
  text-align: center;
  font-size: 30pt;
  flex: 1 1 100%;

  margin-bottom: 0;
}
.underline{
  background-color: darkcyan;
  height: 5px;
  width: 90px;
  align-self: center;
}
.textArea{
  padding: 30px 30px 0px;

  display: flex;
  flex-wrap: wrap;
}
.description {
  flex-direction: 1 1 100%;
}
.tourName {
  flex: 1 1 80%;
}
.img{
  height: 20rem;
  overflow: hidden;
}
img{
  width: 100%;
}